.HeaderContainer{
    width: 1300px;
    height: 150px;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    align-content: center;
    z-index: 1000;
    margin-bottom: 20px;
    /* background-color: aqua; */
    pointer-events: none;
}
.HeaderAbsolute{
    top: 40px;
    position: absolute;
    height: 150px;
    margin-bottom: 0px;
}
#logo{
    /* background-color: aqua; */
    background-image: url('../../../assets/images/main/logo.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 130px;
    height: 65px;
    pointer-events: all;
    cursor: pointer;
}