.HeaderContainer{
    width: 1000px;
    height: 100px;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    align-content: center;
    z-index: 1000;
    margin-bottom: 20px;
    /* background-color: aqua; */
}
.HeaderAbsolute{
    top: 40px;
    position: absolute;
    height: 150px;
    margin-bottom: 0px;
}