/* 리뷰 목록 페이지 */
.listBox1 {
    /* outline: 2px solid red; */
     margin-left: -90px;
}

.listBox2 {
    /* outline: 2px solid red; */
    transform: rotate(180deg) scaleY(-1) scaleX(1);
    margin-right: -100px;
}


.reviewBox {
    width: 550px;
    margin: 20px auto 20px 40px;
    /* width: 90%; */
    height: 140px;
    border-width: 1px #edf9fffb;
    border-radius: 20px;
    padding: 16px;
    /* background-color: #edf9ff; */
    background-color: #edf5ff;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.reviewBox::after {
    border-top: 30px solid #edf5ff;
    border-left: 30px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 0px solid transparent;
    content:"";
    position:absolute;
    top: 90px;
    left:-28px;
}

.top {
    width: 35px;
    margin: 5px 0 5px 5px;
    opacity: 0.5;
}

.airlinename {
    /* outline: 2px solid red; */
    font-family: 'GyeonggiTitleM';
    font-weight: 100;
    font-size: 23px;
    margin: -5px 0 0 5px;
    max-width: 140px;
    white-space: nowrap;    /* 텍스트를 한 줄로 유지 */
    overflow: hidden;       /* 넘치는 텍스트 숨김 */
    text-overflow: ellipsis; /* 넘치는 텍스트에 생략 기호 추가 */
}

.writeDate {
    text-align: right;
    margin: -27px 10px 0 0;
    /* margin-right: 10px; */
    color: #9e9e9e;

}

.profileCon {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    margin-left: 80px;
}


.userImg .proFile {
    margin: 0 auto;
    width: 100px !important;
    height: 100px !important;
    margin-bottom: 5px;
}

.username {
    text-align: center;
}

.airlinerate {
    margin-top: 3px;
    margin-left: 20px;
}

.totalscore {
    text-align: center;
    margin-left: 10px;
    margin-top: 3px;
}

.cardtitle {
    margin-top: -10px;
    margin-left: 10px;
    border-radius: 10px;
    /* border: dotted #dde6f5; */
    border-top: dotted #dde6f5;
    padding: 25px 0;
    height: 60px;
    width: 490px;
    font-size: 22px;
    text-align: center;
    white-space: nowrap;    /* 텍스트를 한 줄로 유지 */
    overflow: hidden;       /* 넘치는 텍스트 숨김 */
    text-overflow: ellipsis; /* 넘치는 텍스트에 생략 기호 추가 */
}

/* 모달창(detail) */
.writedate {
    font-family: 'GyeonggiTitleM';
    font-size: 18px;
    text-align: right;
    color: #9e9e9e;
    margin-top: 10px;
}

.reviewtitle{
    /* outline: 2px solid red; */
    width: 650px;
    font-size: 33px;
    margin: 30px 0 -15px 50px;
    font-family: 'GyeonggiTitleM';
    white-space: nowrap; 
}

.reviewRate {
    margin: 13px 0 -10px 45px;
}

.totalRate {
    font-size: 15px;
    margin: -18px 0 0px 115px;
}

.line {
    margin: 20px 0;
}

.line2 {
    margin-top: 30px;
}

.boarding {
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
}

.subtitle {
    color: #9e9e9e;
    font-size: 18px;
}

.airlineName {
    margin-top: 5px;
    font-size: 25px;
    font-family: 'GyeonggiTitleM';
}

.boardingdate {
    margin-top: 10px;
    font-size: 18px;
}

.reviewBody {
    margin-top : 30px;
    font-family: 'GyeonggiTitleM';
}

.starRate {
    align-items: right;
    justify-content: right;
}

.content {
    border-radius: 10px;
    border: dotted #dde6f5;
    padding: 15px;
    margin: 0 0 30px 15px;
    width: 660px;
    font-family: 'GyeonggiTitleM';
    font-size: 18px;
}

.stamp {
    width: 120px;
    opacity: 0.1;
    margin: -30px 0 -80px 0px;
    z-index: 1;
    transform: rotate(-45deg); /* 이미지를 45도 회전 */
}