.google{
    background-image: url('../../../../assets/images/login/google_login_btn.webp');
}

.naver{
    background-image: url('../../../../assets/images/login/naver_login_btn.webp');
}

.kakao{
    background-image: url('../../../../assets/images/login/kakao_login_btn.webp');
}

.facebook{
    background-image: url('../../../../assets/images/login/facebook_login_btn.webp'); 
}

.inputCustom {

    text-align: left;
    font-family: system-ui, sans-serif !important;
    background-color: rgb(252, 252, 252) !important;
    border-bottom: 1px solid lightgray !important;
}

.subjectCustom{
    font-family: system-ui, sans-serif !important;
    font-weight: 500 !important;
}

.Logo{
    width: 130px;
    height: 65px;
    /* border: 1px solid saddlebrown; */
    background-image: url(../../../../assets/images/main/logo.webp);
    background-repeat: no-repeat;
    background-size: contain;
    align-self: center;
    margin-bottom: 20px;

}