.google{
    background-image: url('../../../../assets/images/login/google_login_btn.webp');
}

.naver{
    background-image: url('../../../../assets/images/login/naver_login_btn.webp');
}

.kakao{
    background-image: url('../../../../assets/images/login/kakao_login_btn.webp');
}

.facebook{
    background-image: url('../../../../assets/images/login/facebook_login_btn.webp'); 
}

.banner {
    background-image: url('../../../../assets/images/login/Logo.webp'); 
    background-color: rgb(201, 220, 232);
    margin: 0px 30px;
}

.inputCustom {
    width: 100%;
    height: var(--input-height);
    font-size: var(--input-font-size);
    padding-inline-start: var(--input-padding);
    padding-inline-end: var(--input-padding);
    border-radius: var(--input-border-radius);
    outline: 2px solid transparent;
    outline-offset: 2px;
    transition-property: var(--chakra-transition-property-common);
    transition-duration: var(--chakra-transition-duration-normal);
    border: 1px solid;
    background-color: var(--chakra-colors-white);
    color: var(--chakra-colors-black);
    text-align: left;
    font-family: system-ui, sans-serif !important;
    font-size: 15px !important;
    appearance: none;
}
