.flatpickr-monthDropdown-months {
  font-family: "KIMM_Bold";
    width: 57% !important;
  }
  
.flatpickr-calendar {
  font-family: "KIMM_Bold";
    /* outline: 2px solid palegoldenrod; */
    margin: 0 auto;
    margin-left: 50px;
}  

.flatpickr-input {
  font-family: "KIMM_Bold" !important;
  text-align: center !important;
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
  color: #6c6f74 !important;
}

.cur-year {
  font-size: 20px !important;
}