/* search.css */

.searchBar {
  width: 1200px;
  padding: 0 0 5px 0;
  margin: 200px auto 0 auto; 
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  box-sizing: border-box;
}

.contentpart {
  background-color: #fff;
  padding: 0;
  width: 100%;
  border-radius: 40px;
  /* outline: 2px solid saddlebrown; */
}

.wayBox{
  font-family: "KIMM_Bold";
  color: #1d212e;
  width: 100%;
  height: 80px;
  position: relative;
  border-bottom: #a9afcb 1px solid;
  display: flex;
  align-items: flex-start;
  overflow: hidden;
  padding-top: 20px;
}

.wButton {
  background-color:  #eaf2fd;
  color: #636676;
  width: 80px;
  height: 45px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 9px;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.wButton:first-child {
  margin-left: 40px;
}

.wButton:nth-child(2) {
  margin-left: 10px; 
}

.wButton:hover {
  background-color: #cfe1ffb4;
}

.searchActives {
  background-color:  #4a7dc9d0;
  pointer-events: none;
  color: #ffffff !important;
}

.selectBox {
  font-family: "KIMM_Bold";
  color: #636676;
  width: 100%;
  height: 120px;
  position: relative;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

#searchAirport {
  outline: 2px solid red;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none !important;
}

.departureLabel {
  font-family: "KIMM_Light";
  font-size: 14px;
  margin-bottom: 10px;
  color: #878787;
}

#searchArrPart,
#searchDepPart {
  width: 200px;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  outline: none !important; 
}

#searchDepPart {
  margin-left: 40px;
}

#editableDiv {
  position: relative;
  /* background-color: red; */
}

#airportName {
  position: relative;
  /* outline: 2px solid green; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: black;
  z-index: 1;
}

.placeholderText {
  color: #616161 !important; 
  font-size: 20px !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

.searchAirportContainer {
  /* outline: 2px solid black; */
  width: 180%;
  position: absolute;
  padding: 10px;
  min-height: 400px;
  top: 105px;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: slideUp 0.3s ease-in-out; 
}

.searchContainer {
  background-color: #FFFFFF;
  /* outline: 2px solid red; */
  opacity: 1;
  display: flex;
  align-items: center;
  border: 1px solid #b4c1e6d9; 
  border-radius: 50px; 
  padding: 10px 15px;
}

.searchAirport {
  outline: 2px solid black;
  border: none;
  outline: none !important;
  background: transparent !important;
  box-shadow: none;
  color: #718096;
  width: 100%;
  height: 100%;
  /* margin-top: 49px; */
  font-size: 20px !important;
  outline: 2px solid #F7F7F9 !important;
  display: flex;
}

.searchAirport:focus {
  border: none;
  outline: none !important;
  width: 100%;
  font-size: 17px !important;
  outline: 1px solid #adb0b8d9 !important;
  /* outline: 2px solid salmon; */
}

.searchAirport:blur {
  border: none;
  outline: none !important;
  width: 100%;
  font-size: 26px;
  /* outline: 2px solid salmon; */
}

.selectArrow { 
  background-image: url('../../../assets/images/arrow.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 10px;
  /* background-color: red; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -10px;
}

input {
  font-family: "KIMM_Light" !important;
  background: transparent !important;
  font-size: 14px !important;
  border: none !important;
  outline: none !important;
  text-align: center;
}

.depLabel {
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-top: 10px;
  color: black;
}

.searchAirport {
  border: none;
  outline: none !important;
  box-shadow: none;
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  text-align: left !important;
  font-size: 17px !important;
  /* outline: 2px solid red; */
}

.searchAirport:focus {
  background: transparent !important;
  border: none !important;
  outline: none !important;
  text-align: center;
  /* outline: 2px solid salmon; */
}

.searchActives::placeholder {
  text-align: center;
  outline: none !important;
  background-color: red;
}

.autocompleteResults {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    background-color: white;
    opacity: 1;
    border-top: none;
    z-index: 999;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 4px;
}

.autocompleteResults div {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  background-color: white;
  opacity: 1;
  border-bottom: 1px solid #d8e1e6; 
  color: black;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

.autocompleteResults div:hover {
  background-color: #eaf2fd; 
}

.datePickerContainer {
  display: flex;
  justify-content: flex-start; 
  color: #6c6f74;
  width: 320px;
  /* outline: 2px solid aquamarine; */
}

.DatePart {
  /* outline: 2px solid seagreen;  */
  width: 320px;
}

.searchFlatpickrInput {
  flex-grow: 1;
  background-color: none;
  background: transparent !important;
  outline: none;
  color: #2b2b2b !important; 
  font-size: 20px !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  font-weight: bold;
  text-align: left !important;
}

.searchFlatpickrInput:focus {
  outline: none;
  box-shadow: none;
  color: #6c6f74;
}

.searchFlatpickrInput:hover {
  color: #21A7E1 !important;
}

.searchFlatpickrInput:placeholder {
  color: #6c6f74 !important;
}

.peoplePart {
  /* background-color: rebeccapurple; */
  width: 300px;
  height: 60px;
}

.dropdownButton {
  width: 100%;
  font-family: "KIMM_Bold";
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  font-weight: bold;
  color: black;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  /* outline: 2px solid yellowgreen; */
}

.dropdownButton:active,
.dropdownButton:focus,
.dropdownButton:hover {
  outline: none;
  background: transparent;
  color: #21A7E1;
}

.cntContainer {
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cntContainerItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
}

.cntContainerItem label {
  flex-grow: 1;
  margin-left: 30px;
  margin-right: 4px;
  /* background-color: blue; */
}

.cntContainerItem button {
  background: transparent;
  border: none;
  color: red;
  font-size: 18px;
  cursor: pointer;
  margin: 0 10px;
}

.cntContainerItem span {
  margin: 0 30px 0 4px;
}

.submit {
  /* outline: 2px solid red; */
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 13px;
}

.subButton {
  background-color: #4875bd;
  width: 70%;
  height: 50px;
  padding: 8px 0;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 16px;
  font-family: "KIMM_Light";
  font-weight: bold;
  /* outline: 2px solid red; */
}

.results {
  /* outline: 2px solid slateblue; */
  margin-top: 50px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.resultsContents {
  /* outline: 2px solid red; */
  width: 100%;
  max-width: 1215px;
  display: flex;
  flex-direction: column;
}

.results ul {
  /* outline: 2px solid seagreen; */
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.results li {
  /* outline: 2px solid seagreen; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 60px;
  border: 1px solid #ddd;
  border-radius: 30px;
  background-color: #ffffff;
  transition: transform 0.3s ease;
  margin-bottom: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.results li:hover {
  transform: scale(1.01);
}

.flights {
  /* background-color: #718096; */
  display: flex;
  align-items: center;
  width: 100%;
}

.flightInfo {
  display: flex;
  align-items: center;
  flex: 2;
  /* outline: 2px solid sandybrown; */
}

.flightAirline {
  /* outline: 2px solid salmon; */
  width: 230px;
  margin-right: 50px;
  font-size: 1.3rem;
  font-weight: bold;
  /* margin-right: 15px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flightTimes {
  /* outline: 2px solid salmon; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
  margin: 0 10px 0 50px;
  /* margin-right: -50px; */
}

.flightTimes2 {
  /* outline: 2px solid salmon; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 17px;
  padding: 0 10px;
  margin: 0 10px 0 5px;
  /* margin-right: -50px; */
}

.airplane {
  /* outline: 2px solid chartreuse; */
  height: 60px;
}

.airplane1 {
  /* outline: 2px solid cadetblue; */
  margin-top: 5px;
  margin-bottom: 15px;
}

.flightTakeTimes {
  /* outline: 2px solid salmon; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 0 10px; */
  font-size: 17px;
  margin: 0 55px;
}

.flightDepTime,
.flightArrTime {
  display: flex;
  align-items: center;
  font-size: 17px;
  /* outline: 2px solid seagreen; */
}

.depAirport,
.arrAirport {
  font-size: 0.8rem;
  color: #255cb4;
  margin-left: 0.2rem;
  margin-top: 0.2rem;
}

.flightPrice {
  /* outline: 2px solid seagreen; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 17px;
  color: #FF1414;
  flex-shrink: 0; /* 가격 정보는 항상 고정된 크기를 유지 */
}

.verticalLine {
  /* outline: 2px solid rebeccapurple; */
  width: 1px;
  height: 60px;
  background-color: rgb(155, 155, 155);
  margin-right: 120px;
}

.totalPrice {
  font-weight: bold;
  white-space: nowrap;
  justify-content: flex-end;
}

.pageButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  font-family: 'Noto Sans KR', sans-serif;
}

.pageButtons button {
  background-color: #4a7dc9d0;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s;
}

.pageButtons button:disabled {
  background-color: #d6d6d6;
  cursor: not-allowed;
}

.pageButtons button:hover:not(:disabled) {
  background-color: #0056b3;
  transform: translateY(-2px); 
}

.pageButtons button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.4); 
}

.pageButtons span {
  font-size: 16px;
  margin: 0 10px;
  color: #333;
}

@keyframes fadeInOut {
  0% {
    opacity: 1; /* 시작할 때 완전히 투명 */
  }
  80% {
      opacity: 1; /* 시작할 때 완전히 투명 */
  }
  100% {
      opacity: 0; /* 끝날 때 다시 완전히 투명 */
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.errorMessage {
  width: 1100px;
  margin: 0 auto;
  margin-top: 10px;
  text-align: right;
  font-size: 17px;
  font-family: "Noto Sans KR";
  color: #6499cbe0;
  animation: fadeInOut 2s ease-in-out;
  animation-fill-mode: forwards;
}