/* search.css */

.searchBar {
  width: 80%;
  padding: 0 0 5px 0;
  /* outline: 2px solid red; */
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  box-sizing: border-box;
}

.contentpart {
  padding: 0;
  width: 100%;
  /* outline: 2px solid saddlebrown; */
}

.wayBox{
  font-family: "KIMM_Bold";
  color: #1d212e;
  width: 100%;
  height: 75px;
  position: relative;
  /* background-color: #495176; */
  border-bottom: #a9afcb 1px solid;
  display: flex;
  gap: 5px;
  padding: 25px 0 10px 0;
  align-items: flex-start;
  overflow: hidden;
  margin-bottom: 10px;
  padding-top: 2.5%;
  /* outline: 2px solid black; */
}

.wButton {
  font-family: "KIMM_Bold";
  color: #636676;
  margin-left: 2%;
  width: 5%;
  height: 42px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: -15px;
  padding-top: 0.8%;
  /* outline: 2px solid red; */
}

.wButton:hover {
  background-color: #c0cdf5;
}

.searchActives {
  background-color: #6b8aef;
  pointer-events: none;
  color: #ffffff !important;
}

.selectBox {
  /* background-color: skyblue; */
  font-family: "KIMM_Bold";
  color: #636676;
  width: 100%;
  height: 100px;
  position: relative;
  display: flex;
  gap: 7px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

#searchAirport {
  /* outline: 2px solid red; */
  width: 28%;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  outline: none !important;
}

#searchArrPart,
#searchDepPart {
  /* background-color: blue; */
  width: 48%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 26px;
  padding-top: 2px;
  margin-left: -10px;
  margin-right: 10px;
  outline: none !important;
}

#searchArrPart {
  margin-left: -46px;
}

.airportDefault {
  /* outline: 2px solid green; */
  margin-top: 40px;
  /* width: 46%; */
  text-align: center;
  font-size: 26px;
  /* margin-left: 18px; */
}


.searchAirportContainer {
  outline: 2px solid red;
  margin-top: 28px;
  width: 180%;
  /* margin-left: 90px; */
  position: relative;
  min-height: 900%;
}

.searchContainer {
  background-color: #FFFFFF;
  outline: 2px solid red;
  opacity: 1;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  margin-top: 10px;
}


.searchAirport {
  outline: 2px solid black;
  border: none;
  outline: none !important;
  background: transparent !important;
  box-shadow: none;
  font: inherit;
  color: #718096;
  width: 100%;
  height: 100%;
  /* margin-top: 49px; */
  font-size: 20px !important;
  outline: 2px solid #F7F7F9 !important;
  display: flex;
}

.searchAirport:focus {
  border: none;
  outline: none !important;
  width: 100%;
  font-size: 20px !important;
  outline: 1px solid #adb0b8d9 !important;
  /* outline: 2px solid salmon; */
}

.searchAirport:blur {
  border: none;
  outline: none !important;
  width: 100%;
  font-size: 26px;
  /* outline: 2px solid salmon; */
}


.selectArrow { 
  background-image: url('../../../assets/images/arrow.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 10px;
  /* background-color: red; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -10px;
}

input {
  font-family: "KIMM_Bold" !important;
  background: transparent !important;
  font-size: 26px !important;
  border: none !important;
  outline: none !important;
  text-align: center;
}

.searchAirport {
  border: none;
  outline: none !important;
  box-shadow: none;
  font: inherit;
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  text-align: left !important;
  margin-top: -1px;
  /* outline: 2px solid red; */
}

.searchAirport:focus {
  background: transparent !important;
  border: none !important;
  outline: none !important;
  /* width: 100%; */
  /* font-size: 26px !important; */
  text-align: center;
  /* outline: 2px solid salmon; */
}

.searchActives::placeholder {
  text-align: center;
  outline: none !important;
  background-color: red;
}

.autocompleteResults {
    /* position: absolute; */
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    background-color: #FFFFFF;
    opacity: 1;
    border: 1px solid #d4d4d4;
    border-top: none;
    z-index: 999;
    border-radius: 4px;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    margin-top: 10px;
}

.autocompleteResults div {
  padding: 10px;
  cursor: pointer;
  background-color:#f1f1f1;
  opacity: 1;
  border-bottom: 1px solid #d4d4d4;
  font-size: 15px;
}

.autocompleteResults div:hover {
    background-color:#dadcdf 
}

.datePickerContainer {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  margin: 3px 1px 2.5px -40px;
  color: #6c6f74;
  text-align: center;
  width: 115%;
  /* outline: 2px solid aquamarine; */
  font-size: 23px;
}

.DatePart {
  /* outline: 2px solid seagreen; */
  width: 34%;
  margin-left: 3px;
}

.searchFlatpickrInput {
  border-radius: 4px;
  background-color: none;
  background: transparent !important;
  padding: 15px 0 ;
  margin-top: -2px;
  color: #6c6f74;
  text-align: center;
  font-size: 23px !important;
  outline: none;
}

.searchFlatpickrInput:focus {
  outline: none;
  box-shadow: none;
  color: #6c6f74;
}
.searchFlatpickrInput:placeholder {
  color: #6c6f74;
}

.peoplePart {
  /* background-color: rebeccapurple; */
  width: 23%;
  height: 60px;
  margin-left: 10px;
  margin-right: -5px;
}

.dropdownButton {
  width: 100%;
  height: 100%;
  font-family: "KIMM_Bold";
  font-size: 23px;
  color: #ad697a;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  /* outline: 2px solid yellowgreen; */
}

.dropdownButton:active,
.dropdownButton:focus,
.dropdownButton:hover {
  outline: none;
  background: transparent;
  color: #ad697a;
}

.cntContainer {
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cntContainerItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
}

.cntContainerItem label {
  flex-grow: 1;
  margin-left: 30px;
  margin-right: 4px;
  /* background-color: blue; */
}

.cntContainerItem button {
  background: transparent;
  border: none;
  color: red;
  font-size: 18px;
  cursor: pointer;
  margin: 0 10px;
}

.cntContainerItem span {
  margin: 0 30px 0 4px;
}

.submit {
  /* outline: 2px solid red; */
  width: 19%;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 13px;
}

.subButton {
  background-color: #6b8aef;
  width: 70%;
  height: 100%;
  padding: 8px 0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 20px;
  /* outline: 2px solid red; */
}
.results {
  /* outline: 2px solid slateblue; */
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.resultsContents {
  /* outline: 2px solid red; */
  width: 100%;
  max-width: 1215px;
  display: flex;
  flex-direction: column;
}

.results ul {
  /* outline: 2px solid seagreen; */
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.results li {
  /* outline: 2px solid seagreen; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 60px;
  border: 1px solid #ddd;
  /* border-radius: 4px; */
  background-color: #ffffff;
  /* margin-bottom: 10px; */
  /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); */
}

.flights {
  /* background-color: #718096; */
  display: flex;
  align-items: center;
  width: 100%;
}

.flightInfo {
  display: flex;
  align-items: center;
  flex: 2;
  /* outline: 2px solid sandybrown; */
}

.flightAirline {
  /* outline: 2px solid salmon; */
  width: 230px;
  margin-right: 50px;
  font-size: 1.3rem;
  font-weight: bold;
  /* margin-right: 15px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flightTimes {
  /* outline: 2px solid salmon; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
  margin: 0 10px 0 50px;
  /* margin-right: -50px; */
}

.flightTimes2 {
  /* outline: 2px solid salmon; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
  margin: 0 10px 0 5px;
  /* margin-right: -50px; */
}

.airplane {
  /* outline: 2px solid chartreuse; */
  height: 60px;
}

.airplane1 {
  /* outline: 2px solid cadetblue; */
  margin-top: 5px;
  margin-bottom: 15px;
}

.flightTakeTimes {
  /* outline: 2px solid salmon; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 0 10px; */
  font-size: 1.3rem;
  margin: 0 55px;
}

.flightDepTime,
.flightArrTime {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  /* outline: 2px solid seagreen; */
}


.depAirport,
.arrAirport {
  font-size: 0.8rem;
  color: #8351f8;
  margin-left: 0.2rem;
  margin-top: 0.2rem;
}

.flightPrice {
  /* outline: 2px solid seagreen; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.35rem;
  color: #FF1414;
  flex-shrink: 0; /* 가격 정보는 항상 고정된 크기를 유지 */
}

.verticalLine {
  /* outline: 2px solid rebeccapurple; */
  width: 1px;
  height: 60px;
  background-color: rgb(155, 155, 155);
  margin-right: 120px;
}

.totalPrice {
  font-weight: bold;
  white-space: nowrap;
  justify-content: flex-end;
}