.writedate {
    font-family: 'KIMM_Light';
    font-size: 18px;
    text-align: right;
    margin: 20px 30px 0 0;
    color: #9e9e9e;
}

.reviewtitle{
    font-size: 50px;
    margin: 20px 0 0 50px;
}

.airlineName {
    font-size: 35px;
    margin: 18px 0px 0 40px;
}

.reviewRate {
    margin: 15px 0 0 40px;
}

.totalRate {
    font-size: 25px;
    margin: 25px 0 0 10px;
}

.date {
    text-align: right;
    margin: -50px 30px 20px 30px;
    font-size: 20px;
}

.boarding {
    color: #9e9e9e;
}

.reviewBody {
    margin-top : 40px;
}

.content {
    border-radius: 10px
}

.reviewBtn {
    text-align: right;
}

.btn {
    font-size: 20px;
    width: 100px;
    height: 40px;
    border-radius: 5px;
}

.listbtn {
    margin-right: 580px;
    background-color: rgb(211, 235, 250);
}
.listbtn:hover {
    background-color: rgb(200, 233, 253);
}

.updatebtn {
    background-color: rgb(200, 233, 253);
    margin-right: 20px;
}
.updatebtn:hover {
    background-color: rgb(180, 224, 251);
}

.deletebtn {
    background-color: rgb(250, 190, 202);
}

.deletebtn:hover {
    background-color: rgb(252, 161, 179);
}