.reviewlistContainer {
    width: 800px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
}

.reviewIcon {
    width: 45px;
    height: 45px;
}

#reviewBody {
    height: 700px;
    /* outline: 2px solid red; */
}

.reviewPagebtn {
    text-align: center;
}

.reviewPageBtn {
    text-align: center;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    background-color: #e1eaf8;
    border-radius: 5px;
}

.reviewPrevbtn, .reviewNextbtn {
    height: 30px;
    width: 40px;
    margin-right: 5px;
}

.reviewArrowLeft {
   margin-right: 30px; 
}

.reviewArrowRight {
    margin-left: 20px;
}

.noReview {
    font-family: 'Roboto';
    font-weight: bold;
}