body{
    
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.contentpart{
    width: 100vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    /* justify-content : space-between; */
    align-items: center;
    position: relative; 
}

.introduceMain{
    width: 1000px;
    height: 500px;
    /* background: linear-gradient(to bottom, #ffffff, #adbddc ,#ffffff); */
}
.canvasgradient{
    width: 1000px;
    height: 700px;
    position: absolute;
    background: linear-gradient(to left, #ffffff 0%, #ffffff00 3%, #ffffff00 97%,#ffffff 100%);
    top: 500px;
}
.canvasgradienttop{
    width: 1000px;
    height: 700px;
    position: absolute;
    /* background: linear-gradient(to top, #ffffff00 90%, #ffffff); */
    top: 540px;
}
.canvas{
    /* background: linear-gradient(to bottom, #adbddc, #ffffff); */
    /* background-color: burlywood; */
    width: 100%;
    height: 700px;
}
@keyframes moveClouds1 {
    0% { transform: translateX(-10%); }
    100% { transform: translateX(-100%); }
}
@keyframes moveClouds2 {
    0% { transform: translateX(60%); }
    100% { transform: translateX(-90%); }
}
@keyframes moveClouds3 {
    0% { transform: translateX(60%); }
    100% { transform: translateX(-90%); }
}
@keyframes moveAirplain {
    0% { 
        top: 50vh;
        /* left: -150vh; */
    }
    /* 80% { 
        top: -10vh;
        left: -10vh;
    } */
    100% { 
        top: 13vh;
        /* left: 0vh; */
    }
}

#airplainContainer{
    width: 100vw;
    height: 100vh;
    top: 0vh;
    /* left: -150vh; */
    position: absolute;
    /* background-color: #e991a78c; */
    z-index: 1;
    /* transition: left 2s ease-out, top 2s ease-out; */
    animation: moveAirplain 2s ease-out;
    animation-fill-mode : forwards;
}
.airplainNewPos{
    width: 100vw;
    height: 100vh;
    top: 0vh;
}

#cloudContainer{
    width: 100vw;
    height: 100vh;
    position: absolute;
    bottom: -95vh;
    transition: bottom 2s ease;
}
.clouddown{
    bottom: -115vh !important;
}
.backcloud{
    position: absolute;
    background-image: url('../../../assets/images/main/cloud.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 3500px;
    height: 700px;
    bottom: -230px;
    z-index: 0;
    opacity: 0.7;
}
#backcloud1{
    animation: moveClouds1 35s linear;
    animation-fill-mode: forwards;
}
#backcloud2{
    animation: moveClouds2 55s linear infinite;
}
#backcloud3{
    animation: moveClouds3 55s linear infinite;
    animation-delay: 30s;
    transform: translateX(60%);
}

.frontcloud{
    position: absolute;
    background-image: url('../../../assets/images/main/cloud2.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 3500px;
    height: 700px;
    bottom: -450px;
    z-index: 2;
    opacity: 0.7;
    transition: bottom 2s ease;
}
#frontcloud1{
    animation: moveClouds1 20s linear;
    animation-fill-mode:forwards;
}
#frontcloud2{
    animation: moveClouds2 40s linear infinite;
}
#frontcloud3{
    animation: moveClouds3 40s linear infinite;
    animation-delay: 20s;
    transform: translateX(60%);
}

.loadingmessage {
    font-family: "KIMM_Bold";
    position: absolute;
    pointer-events: none;
    z-index: 1000;
    font-size: 50px;
    color: #4A567C;
    top: 75vh;
    left: 60px;
    opacity: 1;
    animation: loading 2s linear infinite;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    padding: 40px;
    padding-left: 100px;
    width: 30px;
    height: 30px;
    /* background-color: #ff0095; */
    background-image: url('../../../assets/images/main/loading.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.loadingEnd{
    animation: slideOut 0.4s ease-out forwards;
}

@keyframes loading {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes slideOut {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}

#reserveButton{
    font-family: "KIMM_Bold";
    font-size: 20px;
    color: #F2F4F7;
    z-index: 10;
    position: absolute;
    background-color: #00235A;
    opacity: 0;
    border-radius: 100px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.082);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
#reserveButton:hover{
    background-color: #00102b;
}
.showReserveClass{
    animation: showingReserve 1s linear;
    animation-fill-mode : forwards;
}
@keyframes showingReserve {
    70% {
        width: 0vw;
        height: 0vh;
        right: 40vw;
        top: 40vh;
        opacity: 0;
    }
    100% {
        width: 240px;
        height: 60px;
        right: 18vw;
        top: 70vh;
        opacity: 1;
    }
}

#searchBox{
    z-index: 10;
    position: absolute;
    border-radius: 20px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.082);
    align-content: center;
    background-color: #edf1f8d9;
    opacity: 0;
    /* outline: 2px solid red; */
    width: 1150px !important;
    height: 180px !important;
    /* overflow: hidden; */
}
.showSeachClass{
    animation: showingSearch 0.5s linear;
    animation-fill-mode : forwards;
}
@keyframes showingSearch {
    50% {
        width: 30px;
        height: 30px;
        top: 50vh;
        opacity: 0;
        left: 80%;
        transform: translateX(-60%);
    }
    100% {
        width: 850px;
        height: 150px;
        top: 28vh;
        opacity: 1;
        left: 50%;
        transform: translateX(-50%);
    }
}

#wayBox{
    font-family: "KIMM_Bold";
    color: #636676;
    width: 100%;
    height: 70px;
    position: relative;
    /* background-color: #495176; */
    border-bottom: #a9afcb 1px solid;
    display: flex;
    gap: 5px;
    align-items: center;
}

#roundway{
    color: #636676;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin-left: 40px;
    margin-right: 10px;
    width: 80px;
    height: 45px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#oneway{
    width: 80px;
    height: 45px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

#oneway:hover,
#roundway:hover {
    background-color: #cfe1ffb4;
}

.actives {
    background-color:  #4a7dc9d0;
    pointer-events: none;
    color: #ffffff !important;
}

#selectBox{ 
    color: #1d212e;
    width: 100%;
    height: 62%;
    position: relative;
    /* background-color: #495176; */
    display: flex;
    gap: 7px;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1%;
}

#airportPart{
    /* background-color: aqua; */
    width: 38%;
    height: 80%;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    /* margin-left: -10px;
    margin-right: -90px; */
}

#arrPart,
#depPart {
    /* background-color: cadetblue; */
    width: 46%;
    height: 100%;
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    outline: none !important;
}

#depPart {
    margin-left: 20px;
}

/* #arrPart {
    margin-left: 5px;
} */

.departureLabel,
.departureDateLabel {
    font-family: "KIMM_Light";
    font-size: 14px;
    margin-bottom: 10px;
    color: #878787;
}

.departureDateLabel {
    margin-left: 80px;
}

.depLabel {
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-top: 10px;
    color: black;
}

#editableDiv {
    position: relative;
    /* background-color: red; */
}

#airportName {
    position: relative;
    /* outline: 2px solid green; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: black;
    z-index: 1;
    font-size: 25px;
}

.placeholderText {
    color: #616161 !important; 
    font-size: 20px !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    width: 120% !important;
    /* outline: 2px solid red; */
  }

.searchAirportContainer {
    /* outline: 2px solid red; */
    /* margin-top: 185px; */
    width: 140%;
    position: absolute;
    padding: 10px;
    min-height: 400px;
    top: 105px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: slideUp 0.3s ease-in-out;
    background-color: #ffffff !important; 
    opacity: 0.7;
}

.searchContainer {
    /* outline: 2px solid blue; */
    background-color: #FFFFFF;
    /* outline: 2px solid red; */
    opacity: 1;
    display: flex;
    align-items: center;
    border: 1px solid #b4c1e6d9; 
    border-radius: 50px; 
    padding: 10px 15px;
}

.searchAirport {
    border: none;
    outline: none !important;
    background: transparent !important;
    box-shadow: none;
    font: inherit;
    color: #718096;
    width: 100%;
    height: 100%;
    /* margin-top: 49px; */
    font-size: 20px !important;
    display: flex;
    text-align: left;
}
  
.searchAirport:focus {
    border: none;
    outline: none !important;
    width: 100%;
    /* outline: 2px solid salmon; */
}

.searchAirport:blur {
    border: none;
    outline: none !important;
    width: 100%;
    font-size: 26px;
}

.selectArrow{
    background-image: url('../../../assets/images/arrow.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 48%;
    height: 20%;
    /* background-color: red; */
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}


/* 자동완성 */
.autocompleteResults {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    background-color: white;
    opacity: 1;
    border-top: none;
    z-index: 999;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 4px;
}

.autocompleteResults div {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    background-color: white;
    opacity: 1;
    border-bottom: 1px solid #d8e1e6; 
    color: black;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

.autocompleteResults div:hover {
    background-color: #eaf2fd; 
  }

.autocompleteResults::-webkit-scrollbar {
    width: 5px; /* 스크롤바 너비 */
    height: 5px; /*가로 스크롤바 높이*/
}
.autocompleteResults::-webkit-scrollbar-track {
    background: none; /* 트랙 배경 색상 */
    border-radius: 10px; /* 트랙 모서리 둥글게 */
}
.autocompleteResults::-webkit-scrollbar-thumb {
    background: #737297; /* 핸들 색상 */
    border-radius: 10px; /* 핸들 모서리 둥글게 */
}
.autocompleteResults::-webkit-scrollbar-thumb:hover {
    background: #504f6f; /* 호버 시 핸들 색상 */
}

.autocompleteActive {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
}

/* 날짜 */
.datePart{
    width: 33%;
    /* outline: 2px solid red; */
    margin-left: -100px;
    margin-right: 20px;
}

.datePickerContainer {
    display: flex;
    justify-content: flex-start; 
    color: #6c6f74;
    width: 320px;
    margin-left: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    font-weight: bold;
    text-align: left !important;
}
  
  .flatInput {
    flex-grow: 1;
    background-color: none;
    background: transparent !important;
    outline: none;
    color: #2b2b2b !important; 
    font-size: 20px !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    font-weight: bold;
    text-align: left !important;
  }

  .flatInput:focus {
    outline: none;
    box-shadow: none;
    color: #6c6f74;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  }

.flatInput:hover {
    color: #21A7E1 !important;
}

.flatInput:active {
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

.flatInput::placeholder {
    color: #6c6f74 !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    text-align: left !important;
}

/* 인원 */
.peoplePart{
    /* background-color: crimson; */
    width: 23%;
    height: 55%;
    font-size: 18px;
}

.dropdownButton {
    width: 100%;
    font-family: "KIMM_Bold";
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    font-weight: bold;
    color: black;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    /* outline: 2px solid blue; */
}

.dropdownButton:active,
.dropdownButton:focus,
.dropdownButton:hover {
    outline: none;
    background: transparent;
    color: #21A7E1;
}

.cntContainer {
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cntContainerItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
}

.cntContainerItem label {
    flex-grow: 1;
    margin-left: 30px;
    margin-right: 4px;
    /* background-color: blue; */
}

.cntContainerItem button {
    background: transparent;
    border: none;
    color: red;
    font-size: 18px;
    cursor: pointer;
    margin: 0 10px;
}

.cntContainerItem span {
    margin: 0 30px 0 4px;
}

  /* 제출 */
#submitButton{
    background-color: #4875bd;
    width: 10%;
    height: 55%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    margin-left: -10px;
    /* outline: 2px solid red; */
}

@keyframes fadeInOut {
    0% {
        opacity: 1; /* 시작할 때 완전히 투명 */
    }
    80% {
        opacity: 1; /* 시작할 때 완전히 투명 */
    }
    100% {
        opacity: 0; /* 끝날 때 다시 완전히 투명 */
    }
}

.errorMessage {
    /* outline: 2px solid red; */
    color: #ff4c4c;
    padding-top: 2%;
    position: absolute;
    animation: fadeInOut 2s ease-in-out;
    animation-fill-mode: forwards;
}