.contentWrapper {
    z-index: 1;
    padding: 50px;
}

.topBox {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    height: 85vh;

    position: relative;
}

.arrow {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
}

.arrow img {
    width: 50px; 
    height: auto; 
}

.countryBox, .airportBox {
    padding: 10px;
    width: 45%;
    border-radius: 5px;
    border: 2px solid #B0C9E6;
}

.boxTitle {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

#countryInput, #airportInput {
    width: 80%;
    float: left;
}

#countryButton, #airportButton{
    width: 20%;
    float: left;
}

table {
    border: 1px solid #D5E1EB;
    width: 100%;
    margin-top: 70px;
}

th, td {
    border: 1px solid #D5E1EB;
    padding: 10px;
    text-align: center;
}

th:nth-child(1), td:nth-child(1) {
    width: 15%; 
}

th:nth-child(2), td:nth-child(2) {
    width: 15%;
}

th:nth-child(3), td:nth-child(3) {
    width: 40%;
}

th:nth-child(4), td:nth-child(4) {
    width: 20%;
}

.countryItem {
    cursor: pointer;
}

.countryItem.active {
    background-color: rgba(185, 207, 231, 0.3) !important;
    font-weight: bold !important;
}