body{
    margin: 0;
    overflow-y: scroll;
}

#scheduleHeaderContainer{
    width: 100vw;
    height: 430px;
}
#headerImage {
    background-image: url('../../../assets/images/schedule/carrior.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 350px;
    height: 400px;
    /* top: 100px; */
    /* left: 20%; */
  
    position: relative;
    left: -480px;
    margin: auto;
    /* margin: auto; */
    /* z-index: 0; */
    transform: rotate(5deg);
    /* opacity: 0.8; */
    /* transform: rotate(-10deg); */
    /* transform: left(50%); */
}
#scheduleHeader{
    max-width: 1200px;
    height: 150px;
    margin: auto;
    display: flex;
    align-items: end;
    font-size: 35px;
    padding-left: 250px;
    padding-bottom: 20px;
    color: #00235A;
    position: relative;
    top: -330px;
}
#scheduleInfo{
    font-family: 'KIMM_Light';
    max-width: 1200px;
    height: fit-content;
    margin: auto;
    display: flex;
    align-items:start;
    font-size: 25px;
    padding-left: 220px;
    padding-bottom: 130px;
    color: #00235A;
    position: relative;
    top: -330px;
}

#contentPart{
    /* background-color: aqua; */
    max-width: 1300px;
    height: 900px;
    margin: auto;
    display: flex;
    justify-content : center;
    align-items: center;
    gap: 30px;
}

#checklistPart{
    background-color: #f1f5fc;
    /* border: 1px solid #e4e4e4; */
    width: 800px;
    height: 98%;
    border-radius: 40px;
    display: flex;
    flex-direction: column;

    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.082);
}
#schedulePart{
    background-color: #f1f5fc;
    /* border: 1px solid #e4e4e4; */
    width: 580px;
    height: 98%;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.082);
    padding-bottom: 50px;
}
.partTitle{
    font-family: 'LeferiPoint-BlackA';
    width: 100%;
    height: 10%;
    font-size: 30px;
    display: flex;
    justify-content : center;
    padding-top: 30px;
    /* background-color: #00235A; */
    color: #a0acc4;
}

#checklistPartContainer{
    /* width: 100%;
    height: 90%; */
    /* background-color: #22396a; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px; */
    display: flex;
    flex-wrap: wrap; /* 항목을 여러 줄로 나누기 */
    gap: 18px; /* 열 간의 간격 조정 */
    width: 87%;
    height: 90%;
    margin-left: 95px !important;
    overflow: scroll;
    /* justify-content: center; */
}


.ListsColumn {
    width: 42%;
    /* height: 90%; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.checkList {
    /* width: 100%;
    height: fit-content;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.082); */
    /* width: calc(50% - 18px); */
    height: fit-content;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.082);
    box-sizing: border-box; 
}

.checkListTitle{
    font-size: 20px;
    /* background-color: rgb(205, 212, 248); */
    margin-bottom: 10px;
}

.checkListContent{
    font-family: 'KIMM_Light';
    font-size: 14px;
}

#schedulePartContainer{
    width: 100%;
    height: 90%;
    /* background-color: #22396a; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#addPart{
    width: 100%;
    height: 100px;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    color: #546280;
}
#addPart #addButton{
    width: 160px;
    height: 90px;
    background-color:#ffffff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.082);
}
#addPart #addButton:hover{
    background-color:#e3e5f0;
}
#addButton #addIcon{
    background-image: url('../../../assets/images/schedule/add-button.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
}
#listPart{
    width: 90%;
    height: 86.5%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
#listHeader{
    font-family: 'KIMM_Light';
    font-size: 20px;
    width: 100%;
    height: 5%;
    padding-left: 15px;
}
#listsContainer{
    width: 100%;
    height: 93%;
    /* grid-template-columns: 1fr 1fr; */
    align-items: start;
    justify-items: center;
    overflow-y: scroll;

    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: repeat(auto-fill, minmax(45%, auto));
    align-content: start; /* 컨테이너의 상단부터 채우기 위해 추가 */
    /* gap: 20px; */
}
#listsContainer::-webkit-scrollbar {
    width: 5px; /* 스크롤바 너비 */
    height: 5px; /*가로 스크롤바 높이*/
}
#listsContainer::-webkit-scrollbar-track {
    background: none; /* 트랙 배경 색상 */
    border-radius: 10px; /* 트랙 모서리 둥글게 */
}
#listsContainer::-webkit-scrollbar-thumb {
    background: #737297; /* 핸들 색상 */
    border-radius: 10px; /* 핸들 모서리 둥글게 */
}
#listsContainer::-webkit-scrollbar-thumb:hover {
    background: #504f6f; /* 호버 시 핸들 색상 */
}

.scheduleItem{
    width: 224px;
    height: 180px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.115);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    align-items: center;
}
.scheduleTitle:hover{
    background-color: #e3e5f0;
}
.scheduleTitle{
    width: 95%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    /* white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; */
    text-align: center;
}
.scheduleDate{
    width: 100%;
    height: 30%;
    background-color: #f1adcd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

#footerPart{
    height: 500px;
}

/* ScheduleMain.module.css */
.checkListTitleContainer {
    margin-bottom: 10px;
}


.addIcon {
    cursor: pointer;
    transition: color 0.3s ease;
    margin-left: 10px;
    margin-bottom: 5px;
}

.addIcon:hover {
    color: #3182ce;
}

/* #checklistPart {
    max-height: 900px;
    overflow-y: auto; 
} */

/* #checklistPartContainer {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
    width: 100%;
    margin-bottom: 50px;
} */

.addItemForm{
    display: flex;
    justify-content: space-between; 
}

.addItemInput, .editItemInput{
    width: 85% !important;
    height: 25px !important;
    font-size: 15px !important;
    text-align: left;
    color: rgb(0, 0, 0) !important;
    padding-left: 8px !important; 
    margin-right: 10px !important;

    background-color: #f4f4f4 !important;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.addItemInput{
    margin-bottom: 15px;
}

.editItemInput{
    margin-top: 4px;
    width: 100% !important;
    margin-right: 0 !important;
    margin-left: 4.5px !important;
}
.addItemButton {
    float: right;
}

.addItemInput::placeholder {
    color: rgb(0, 0, 0);
}

::-webkit-scrollbar {
    width: 10px; 
    height: 2px;
    background: transparent;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
    background-color: #adc6e6; 
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a2bcdf; 
}

::-webkit-scrollbar-button {
    display: none; 
}

.itemRow {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-bottom: 0.5px;
    flex: 0 1 calc(50% - 10px);
}

.checkbox {
    margin-right: 2px;
}

.itemName {
    flex-grow: 1; 
    cursor: pointer;
    margin-left: 7px; 
}


.editDeleteButtons {
    display: flex;
}

.editButton, .deleteButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px; 
    height: 14px; 
    color: black; 
}

.editButton svg, .deleteButton svg {
    width: 14px;
    height: 14px;
    color: black;
}


.editItemForm {
    display: flex;
    gap: 8px;
}
/* 
.editItemInput {
    flex: 1; 
    border: none;
    border-radius: 4px;
    padding: 8px !important;
    font-size: 21px !important;
    color: #000000;
    background-color: #f4f4f4 !important;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    text-align: left;
    margin-left: 5px;
} */



.emoji {
    font-size: 2em;
}

.checkedItem {
    text-decoration: line-through  2.5px solid rgb(169, 169, 169);
    color: lightgrey; 
}

.edditButton{
    margin-top: 4px;
}

.bottomContainer{
    width: 100%;
    height: 5px;
    /* border: 2px solid red;/ */
}

.bottomFooter{
    height: 25px;
    /* border: 2px solid red; */
}
