body{
    margin: 0;
    overflow: hidden;
}

#contentBody{
    margin: auto;
    width: 100vw;
    height: 100vh;
    background-color: #F9FBFD;
    /* background: linear-gradient(to bottom, #F1F5FC 60%, #eaefff); */
    /* background: linear-gradient(to top, #F1F5FC, #e2edff); */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
}

#headerPart{
    /* background-color: aqua; */
    width: 100%;
    height: 13%;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: #3854953a 1px solid;
}
#backButton{
    background-image: url('../../../assets/images/schedule/rescheduling.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 58px;
    height: 50px;
    border-radius: 10px;
}
#backButton:hover{
    background-color: #d5d5d5;
}
#headerTitle{
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    color: #5f6b82;
    font-size: 18px;
    border-radius: 10px;
    width: 300px;
    border: #e8ecf200 solid 2px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
#headerTitle:hover{
    background-color: #ffffff;
    border: #E8ECF2 solid 2px;
    cursor: text;
}
#titleInput{
    font-family: 'KIMM_Bold';
    padding: 10px ;
    padding-left: 20px ;
    padding-right: 20px ;
    background-color: #ffffff ;
    border: #E8ECF2 solid 2px ;
    color: #5f6b82;
    position: absolute;
    left: 58px ;
    border-radius: 10px ;
    font-size: 18px ;
    width: 300px;
    text-align: left;
}
#titleWarning{
    padding-left: 5px;
    font-size: 13px;
    color: red;
    opacity: 1;
    transition: opacity 0.2s ease;
}
.hidden{
    display: none !important;
}

#headerImages{
    position: absolute;
    right: 97px;
    width: fit-content;
    height: 46px;
    /* background-color: #5f6b82; */
    display: flex;
    justify-content: end;
    gap: 3px;
}
.onlinePics{
    width: 46px;
    height: 46px;
    background-color: #5771ae;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: #758affa6 3px solid;
}

#headerShare{
    color: #001D35;
    background-color: #FFBA00;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    font-size: 15px;
}
#headerShare:hover, #shareButton:hover{
    background-color: #efaf00;
}

#popoverShare{
    position: absolute;
    width: 270px;
    height: 102px;
    background-color: #ffffff;
    right: 0;
    top: 8.5vh;
    border-radius: 10px;
    box-shadow: 1px 10px 10px rgba(69, 74, 102, 0.26);
    display: flex;
    flex-direction: column;
    gap: 13px;
    opacity: 1;
    z-index: 1000;
    transition: opacity 0.2s ease;
    /* pointer-events: none; */
}
.opacityZero{
    opacity: 0 !important;
    /* pointer-events: all; */
}
#usernameInput{
    padding: 10px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    background-color: #f6f9fd !important;
    border: #E8ECF2 solid 2px !important;
    color: #5f6b82;
    left: 10px !important;
    top: 7px !important;
    border-radius: 10px !important;
    font-size: 14px !important;
    width: 250px;
    text-align: left;
    pointer-events: all;
}
#sharefooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
}
#shareMessage{
    /* font-family: 'KIMM_Light'; */
    position: relative;
    font-size: 12px;
    top: -10px;
    opacity: 1;
    transition: opacity 0.2s ease;
}
.badMessage{
    color: red;
}
.goodMessage{
    color: blue;
}
#shareButton{
    width: 80px;
    height: 40px;
    background-color: #FFBA00;
    color: #001D35;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

#editPart{
    /* background-color: #ffffff; */
    width: 100%;
    height: 90%;
    /* margin-top: 10px; */
    margin-bottom: 30px;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: 5px;
    justify-content:first baseline;
}
#adddatecontainer{
    background-color: #ffda76;
    width: fit-content;
    height: 60px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    position: relative;
    border-radius: 40px;
    /* border: 5px #696997 solid; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#adddatecontainer:hover{
    #addDate{
        width: 200px;
    }
}
#addDate{
    width: 0px;
    height: 50px;
    /* background-color: #6291ff; */
    transition: width 0.5s ease;
}
#addButton{
    width: 35px;
    height: 35px;
    background-image: url('../../../assets/images/schedule/plus-sign.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#editcontainer{
    /* background-color: yellow; */
    /* border-right: #3854953a 1px solid; */
    width: 22%;
    height: 100%;
}
#datelistcontainer{
    /* background-color: #74acf5; */
    width: 78%;
    height: 100%;
    display: flex;
    align-items:first baseline;
    justify-content: center;
    position: relative;
    padding: 20px;
    gap: 10px;
    /* background-color: white; */
    border-left: #3854953a 1px solid;
    /* box-shadow: inset 1px 1px 10px rgba(69, 74, 102, 0.107); */

}
.dateItem{
    width: 250px;
    height:auto;
    /* background-color: #F1F5FC; */
    border-radius: 35px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content:first baseline;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 1px 10px 10px rgba(69, 74, 102, 0.26);
    /* border: #44598a90 0.5px solid; */
    /* background: linear-gradient(to bottom, #d9e6ff, #ffe3ea, #ffffff); */
    
    /* filter: drop-shadow(3px 0px 3px rgba(136, 152, 178, 0.3))
            drop-shadow(-3px 5px 3px rgba(136, 152, 178, 0.3)) Left and bottom shadow !important; */
}
.dateHeader{
    width: 100%;
    height: 60px;
    /* background-color: #B7CDE7; */
    background-color: #8ca4d0;
    /* background: linear-gradient(to bottom right, #889bbe, #889bbe 69%, #e3e0ff 70%, #e3e0ff); */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
}
.dateContent{
    width: 100%;
    /* height: 82%; */
    height:auto;
    /* overflow-y: scroll; */
    display: flex;
    align-items: first baseline;
    justify-content: center;
    padding: 10px;
    padding-left: 17px;
    padding-right: 15px;
    padding-bottom: 40px;
    font-size: 16px;
    color: #3e4759d6;
    /* background-color: #ffffff; */
    background-color: #ffffff;
}