.allCon {
    width: 1300px;
    left: 50%;
    top: 190px;
    transform: translateX(-50%);
    position: relative;
}


.livestart1{
    max-width: 1200px;
    height: 150px;
    margin: auto;
    display: flex;
    align-items: end;
    font-size: 35px;
    padding-left: 50px;
    padding-bottom: 20px;
    color: #00235A;
}

.livestart2{
    font-family: 'KIMM_Light';
    max-width: 1200px;
    height: 140px;
    margin: auto;
    display: flex;
    align-items:start;
    font-size: 25px;
    padding-left: 50px;
    color: #00235A;
}

.searchCon {
    display: flex;
    align-items: center;
    max-width: 1300px;
    margin-bottom: 20px;
    /* margin-right: 15px; */

    display: flex;
    justify-content: right;
    align-items: center;
}

.flightIata {
  font-size: 20px !important;
  border: 1px solid #00235A !important;
  text-align: left;
  width: 350px !important;
}

#searchBtn {
    margin-left: 10px;
    background-color: #1e3b69;
    color: white;
}

.earthCon {
    position: relative;
    width: 1400px;
    /* width: 1300px; */
    height: 1000px;
    margin-bottom: 500px;
    transform: translateX(-50px);
    overflow: hidden;
}

.aboutFlight {
  position: absolute;
  top: 100px;
  left: 30px;
  width: 800px;
  height: 200px;
  z-index: 5;

  color: white;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.6;
}

.pp {
  color: #b9b9b9;
}

#ppp {
  color: #ffb84d;
}

.loadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(166, 166, 166, 0.5); /* 배경을 어둡게 */
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    z-index: 10000; /* 모든 요소 위에 표시되도록 z-index 설정 */
  }
  
  .loadingImg {
    width: 100px;
    height: 100px;
    background-image: url('../../../assets/images/main/loading.webp'); /* 실제 이미지 경로로 변경 */
    background-size: cover;
    animation: rotate 4s linear infinite; /* 천천히 회전 */
  }
  
  /* 회전 애니메이션 */
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }